<footer>
<div class="row">
  <div class="rowOne">
    NSS IIT-BOMBAY
  </div>
  <div class="rowTwo">
    <ul class="linkCardOne">
        <li><a href="#" title="National Innovation Club">NIC</a></li>
        <li><a href="#" title="Green Campus">GC</a></li>
        <li><a href="#" title="Educational Outreach">EO</a></li>
        <li><a href="#" title="Web adn Finance">Web</a></li>
        <li><a href="#" title="Media and design">Media</a></li>
    </ul>
  </div>
  <div class="rowThree">
    <ul class="linkCardTwo">
        <li><a href="#" title="Facebook">Facebook</a></li>
        <!-- <li><a href="#" title="Twitter">Twitter</a></li> -->
        <li><a href="#" title="Youtube">Youtube</a></li>
        <li><a href="#" title="Instagram">Instagram</a></li>
        <li><a href="#" title="Wordpress">Wordpress</a></li>
        
        <!-- <li><a href="#" title="Pinterest">Pinterest</a></li> -->
    </ul>
  </div>
  <div class="rowFourth">
    Copyright &copy; 2017 NSS. IIT Bombay
  </div>
</div>
</footer>