<div id="overlay" style="display: none">
  <div class="navbar-contents">
    <ul (click)="toggleNav()">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/departments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Departments</a></li>
      <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
      <li><a target="_blank" href="https://nssiitbblog.wordpress.com/">Blog</a></li>
    </ul>
  </div>
</div>

<div class="nav-container">
  <nav class="space" id="myNav">
    <div class="shortView">
      <a href="/">
        <div class="identity">
          <img height="55px" width="55px" src="assets/logo128.png" alt="NSS"><p>NSS IIT BOMBAY</p>
        </div>
      </a>
      
      <a id="hamburger" (click)="toggleNav()">
        <img height="30px" width="30px" id ="hamimage"  src="assets/home/button.png" alt="menu">
      </a>
    </div>

    <div class="collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-contents">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a routerLink="/departments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Departments</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
        <li><a target="_blank" href="https://nssiitbblog.wordpress.com/">Blog</a></li>
      </ul>
    </div>


  </nav>
</div>