<div class="nav-container">
  <nav class="container " id="myNav">
    <a href="/">
      <div class="identity">
        <img height="55px" width="55px" src="assets/logo128.png" alt="NSS"><p>NSS IIT BOMBAY</p>
      </div>
    </a>

    <div class="collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-contents">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
        <li><a routerLink="/departments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">departments</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
        <li><a target="_blank" href="https://nssiitbblog.wordpress.com/">Blog</a></li>
      </ul>
    </div>
  </nav>
</div>