<div class="nav-container">
  <div class="container " id="myNav">
    <!-- <ul class="contact">
      <li>+91-70223-08814</li>
      <li>CONTACT US</li>
      <li>LOGIN</li>
    </ul> -->
    <div class="button"><a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a></div>
    <nav>
      <a href="/">
        <div class="identity">
          <img height="55px" width="55px" src="assets/logo128.png" alt="NSS"><p>NSS IIT BOMBAY</p>
        </div>
      </a>

      <div class="collapse navbar-right" id="navbarSupportedContent">
        <ul class="navbar-contents">
          <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li><a routerLink="/departments" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">departments</a></li>
          <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
          <li><a target="_blank" href="https://nssiitbblog.wordpress.com/">Blog</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>