.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 910px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
nav {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
nav a {
  text-decoration: none;
}
nav .navbar-right {
  display: flex;
  align-items: center;
}
nav .identity {
  display: flex;
}
nav .identity p {
  padding-top: 0.5rem;
  padding-left: 1rem;
  color: #00153a;
}
nav .identity img{
  padding-top: 0.5rem; 
}
.navbar-contents {
  display: flex;
  font-family: sans-serif;
}
.navbar-contents li {
  margin: 0 2rem 0 0;
  list-style-type: none;
  padding: 0.5rem 0rem 0.5rem 0;
}
.navbar-contents li a:focus,
.navbar-contents li a:hover {
  border-bottom: 2px solid #284a86;
}
.navbar-contents li a {
  padding: 0.5rem 0rem 0.5rem 0;
  text-decoration: none;
  color: black;
}
.button{
  width: 100%;
  background: #284a86;
  padding: 10px 20px;
  text-align: right;
  font-size: 30px;
  display: none;
  color: #fff;
}

@media (max-width:768px){
  nav ul{
    display: block;
  }
  nav li{
    text-align: center;
    width: 100%;
  }
}