<ng-container *ngFor="let d of mydepts">
    <div class="flex-container">
        <div class="in">
            <div>
                <h1>{{d.deptname}}</h1>
            </div>
            <div>
                <h3>Team Members</h3>
                <ul>
                    <li *ngFor="let t of d.team">{{t.name}}</li>
                </ul>
            </div>
        </div>
        <div>
            <h3> Important Links </h3>
            <ngb-carousel *ngIf="d.images">
                <ng-template ngbSlide *ngFor="let image of d.images">
                    <a [href]="image.imghref">
                        <img [src]="image.img" alt="Random slide" style="width: 100%; height: auto;">
                    </a>
                    <div class="carousel-caption">
                        <h3>No mouse navigation</h3>
                        <p>This carousel hides navigation arrows and indicators.</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

    <!-- <ngb-carousel class="carousel" *ngIf="d.images" [showNavigationArrows]="showNavigationArrows" [showNavigationIndicators]="showNavigationIndicators">
        <ng-template ngbSlide *ngFor="let image of d.images">
            <a [href]="image.imghref">
                <img [src]="image.img" alt="Random slide" style="width: 60%; height: auto;">
            </a>   
            <div class="carousel-caption">
                <h3>No mouse navigation</h3>
                <p>This carousel hides navigation arrows and indicators.</p>
            </div> 
        </ng-template>
    </ngb-carousel> -->
</ng-container>