<ng-container *ngFor="let d of mydepts">
<div class="flex-container">
    <div class="in">
        <div>
            <h1>{{d.deptname}}</h1>
        </div>
        <div>
            <h3>Team Members</h3>
            <ul>
                <li *ngFor="let t of d.team">{{t.name}}</li>
            </ul>
        </div>
    </div>
    <div> </div>
    <div>
        <h3> Important Links </h3>
        <marquee behavior="scroll" direction="up" onmouseover="this.stop()" onmouseout="this.start()">
            <ul>
                <li *ngFor="let l of d.links"><a href="{{l.linkhref}}">{{l.linkname}}</a></li>
            </ul>
        </marquee>
    </div>
</div>
</ng-container>