<div class="cards">
  <div class="card">
    <img class=cardImg src="assets/gallery/plant.jpg">
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
    </div>
  </div>
  <div class="card">
    <img class=cardImg src="assets/gallery/plant.jpg">
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
    </div>
  </div>
  <div class="card">
    <img class=cardImg src="assets/gallery/plant.jpg">
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
    </div>
  </div>
  <div class="card">
    <img class=cardImg src="assets/gallery/plant.jpg">
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
    </div>
  </div>
  
</div>