.nav-container {
  margin-top: 0;
}

.space {
  padding: 0 5vw;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#myNav {
  margin: 4px auto;
  margin-top: 5px;
}
nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
nav a {
  text-decoration: none;
}
nav .navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav #hamburger {
  display: none;
}
nav .identity {
  display: flex;
  align-items: center;
}
nav .identity p {
  /* padding-top: 0.5rem; */
  padding-left: 1rem;
  color: #00153a;
}
nav .identity {
  /* padding-top: 0.5rem;  */
  justify-content: flex-end;
}
.navbar-contents {
  display: flex;
  font-family: sans-serif;
  margin-bottom: 0;
  z-index: 18;
}
.navbar-contents li {
  margin: 0 2rem 0 0;
  list-style-type: none;
  padding: 0.5rem 0rem 0.5rem 0;
}
.navbar-contents li a:focus,
.navbar-contents li a:hover {
  border-bottom: 2px solid #284a86;
}
.navbar-contents li a {
  padding: 0.5rem 0rem 0.5rem 0;
  text-decoration: none;
  color: black;
}
.navbar-contents .active {
  border-bottom: 2px solid #284a86;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 910px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 630px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    display: none;
  }
  nav li {
    text-align: center;
    width: 100%;
  }
  nav #hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .shortView {
    display: flex;
    justify-content: space-between;
  }
  .active {
    display: inline-block;
    /* height: 300px; */
  }
  .nav-container{
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 18;
  }
}

#overlay {
  position: fixed;
  top: 4.5rem;  
  /*  */
  /*  */
  /* right: 0; */
  width: 70%;
  color: black;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  z-index: 18;
}

.m-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.m-nav li {
  list-style: none;
}
