<div class="teamImg">
  <p>some image here</p>
</div>

<section id="team" class="padd-section text-center wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">
      <h2>Faculty Coordinators</h2>
    </div>
  </div>

  <div class="container">

    <div class="team">
      <div class="collection">
        <div class="member">
          <img src="img/team/1.jpg" class="img-responsive" alt="img">
          <div class="team-content">
            <ul class="list-unstyled">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
            <h4>Anand B Rao</h4>
            <span>Faculty Coordinator</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>