<div class="intro">
  <div class="dotted-background"></div>
  <div class="overlay-background"></div>
  <div class="center">
    <img id="introImg" src="assets/typo.png">
  </div>
</div>

<!-- changed here -->
<!--<div class="cards">
  <div class="card">
    <div class="left-card">

    </div>
    <div class="right-card">

    </div>
  </div>
</div>
-->

<div class="cards">
<div class="card">
  <div class="left-card">
    <div class="VFP">
      <img id=left-cardImg src="assets/IMAGES/VikasEcoG.jpg">
    </div>
  </div>
  <div class="right-card">
    <br>
    <div class="right-card-title">Eco Ganesha Workshop</div>
    <br> The consistent endeavour of NSS IIT Bombay to bring about ecological prosperity with Eco Ganesha, using 100% natural
    compright-cardnts, to care for the nature that nurtures us. The workshop is intended to motivate use of ecofriendly stuffs in
    daily life, starting from Mumbai's worshiped Ganesha Idols.
  </div>
</div>

<div class="card">
  <div class="right-card">
    <br>
    <div class="right-card-title">Graduation Collection Drive</div>
    <br> "Happiness comes in byte-sized pieces, some small, some large. It infects right-card person, and spreads like a ripple, till
    it becomes an epidemic. We rise by lifting others." NSS IIT Bombay continues its struggle to give more meaning to someright-card's
    graduation and to someright-card's need.
  </div>
  <div class="left-card">
    <div class="VFP">
      <img id=left-cardImg src="assets/IMAGES/GCD17.gif">
    </div>
  </div>
</div>


<div class="card">
  <div class="left-card">
    <div class="VFP">
      <img id=left-cardImg src="assets/IMAGES/VFP.png">
    </div>
  </div>
  <div class="right-card">
    <div class="right-card-title">
      <br>Voice for Purpose</div>
    <br> The next educational portal of NSS IIT Bombay is here, this right-card catering to blind people. Voice For Purpose, wherein
    we upload audio books of various popular novels and stories. Visit the Channel to know more
  </div>
</div>

<div class="card">
  <div class="right-card">
    <div class="right-card-title">
      <br>Visit to Vatsalya Trust Orphanage</div>
    <br> The volunteers of NSS, IIT Bombay spread smiles in the Vatsalya Trust Orphanage, Kanjurmarg. They conducted an Origami
    session for the children and also made an attempt to develop their interest in the science stream by demonstrating some
    scientific experiments.
  </div>
  <div class="left-card">
    <div class="VFP">
      <img id=left-cardImg src="assets/IMAGES/indexactVisitVTO.png">
    </div>
  </div>

</div>

<div class="card">
  <div class="left-card">
    <div class="VFP">
      <img id=left-cardImg src="assets/IMAGES/indexactBD.jpg">
    </div>
  </div>
  <div class="right-card">
    <div class="right-card-title">
      <br>Biodiversity Mapping</div>
    <br> Our volunteers made this small effort to map the trees along the main road and name them! They covered 200+ trees, providing
    interesting trivia with basic facts. This activity received lot of
    <a style=" text-decoration: nright-card;   color: yellow;" style=" text-decoration: nright-card;   color: yellow;" style=" text-decoration: nright-card;   color: yellow;"
      style=" text-decoration: nright-card;   color: yellow;" href="https://gymkhana.iitb.ac.in/~nss/Publicity.html">media attention</a> as well.
  </div>
</div>

<div class="card">
  <div class="right-card">
    <div class="right-card-title">
      <br>Go Cashless</div>
    <br> Under the VISAKA program of MHRD, NSS IIT Bombay adopted the Powai Fish Market. We introduced the vendors and consumers
    to the various modes of cashless transactions and also in installation of
    <a style=" text-decoration: nright-card;   color: yellow;" style=" text-decoration: nright-card;   color: yellow;" style=" text-decoration: nright-card;   color: yellow;"
      style=" text-decoration: nright-card;   color: yellow;" href="https://gymkhana.iitb.ac.in/~nss/Cashless.html">UPI</a> apps. We also gave a demo these apps and presented our
    <a style=" text-decoration: nright-card;   color: yellow;" style=" text-decoration: nright-card;   color: yellow;" style=" text-decoration: nright-card;   color: yellow;"
      style=" text-decoration: nright-card;   color: yellow;" href="https://www.youtube.com/watch?list=PLFBHsqw1knQedY19zecK3KY2rwuCsReog&v=YvsYEXeCUes">tutorial videos.</a>
  </div>
  <div class="left-card">
    <div class="VFP">
      <img id=left-cardImg src="assets/IMAGES/Cashless.gif">
    </div>
  </div>
</div>
</div>