<div class="intro">
  <div class="dotted-background"></div>
  <div class="overlay-background"></div>
  <div class="center">
    <img id="introImg" src="assets/home/typo.png">
  </div>
</div>

<!-- changed here -->
<div class="cards">
  <div class="card">
    <div class="image">
      <img class=cardImg src="assets/home/cardimg/ecoganesha.jpg">
    </div>
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
      <p class="cardDescription"> The consistent endeavour of NSS IIT Bombay to bring about ecological prosperity with Eco Ganesha, using 100% natural
      compright-cardnts, to care for the nature that nurtures us. The workshop is intended to motivate use of ecofriendly
      stuffs in daily life, starting from Mumbai's worshiped Ganesha Idols.</p>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class=cardImg src="assets/home/cardimg/biodivmapping.jpg">
    </div>
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
      <p class="cardDescription"> The consistent endeavour of NSS IIT Bombay to bring about ecological prosperity with Eco Ganesha, using 100% natural
      compright-cardnts, to care for the nature that nurtures us. The workshop is intended to motivate use of ecofriendly
      stuffs in daily life, starting from Mumbai's worshiped Ganesha Idols.</p>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class=cardImg src="assets/home/cardimg/cashless.gif">
    </div>
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
      <p class="cardDescription"> The consistent endeavour of NSS IIT Bombay to bring about ecological prosperity with Eco Ganesha, using 100% natural
      compright-cardnts, to care for the nature that nurtures us. The workshop is intended to motivate use of ecofriendly
      stuffs in daily life, starting from Mumbai's worshiped Ganesha Idols.</p>
    </div>
  </div>

  <div class="card">
    <div class="image">
      <img class=cardImg src="assets/home/cardimg/ecoganesha.jpg">
    </div>
    <div class="text">
      <div class="cardTitle">Eco Ganesha Workshop</div>
      <p class="cardDescription"> The consistent endeavour of NSS IIT Bombay to bring about ecological prosperity with Eco Ganesha, using 100% natural
      compright-cardnts, to care for the nature that nurtures us. The workshop is intended to motivate use of ecofriendly
      stuffs in daily life, starting from Mumbai's worshiped Ganesha Idols.</p>
    </div>
  </div>
</div>