.center {
  display: flex;
  justify-content: center;
}
.intro {
  height: 88vh;
  /* height: 660px; */
}
.intro .dotted-background {
  background-image: url('/assets/pattern.svg');
  position: absolute;
  height: 70%;
  width: 100%;
  top: 130px;
  left: 0px;
  z-index: -20;
  background-size: 2%;
}
.intro .overlay-background {
  background-image: linear-gradient(
    -180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.6) 100%,
    #ffffff 100%
  );
  position: absolute;
  height: 70%;
  width: 100%;
  top: 130px;
  left: 0px;
  z-index: -10;
}
.intro .introText {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  z-index: -12;
}
.intro #introImg {
  padding-top: 30vh;
  width: 40%;
  height: 40%;
}
.template{
  height: 500px
}
.two{
  width: 50%;
  background: #fff;
  height:400px;
}
.two #twoImg {
  border-style: groove;
  border-radius: 50px 25px;
  height:400px;
  width: 100%;
}
.main{
  display: flex;
  flex-direction: row;
}
.one{
  color: #0099ff;
  background: #00264d;
  border-radius: 15px 50px;
  font-family: Arial,monaco,monospace;
  height: 390px;
  font-weight: auto;
  text-align: center;
  border-width: 4px;
  font-size: 1.5rem;
  width: 40%;
  box-shadow: 0 10px 20px 0 rgba(47, 35, 202, 0.2), 0 20px 40px 0 rgba(90, 40, 206, 0.19);
  margin-right: 20px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
}
.one-title
{
  font-size: 2.5rem;
}